@using Obligatorio.CasoDeUsoCompartida.DTOs.Envios
@model IEnumerable<EnvioListadoDto>

@{
    ViewData["Title"] = "Listado de Envios";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary">@ViewData["Title"]</h2>
        <a asp-action="Create" class="btn btn-success">Nuevo Envio</a>
    </div>


    <div class="row mb-3">
        <div class="col-md-8 mb-2">
            <form class="row g-2" asp-action="Filtrar" method="get">
                <div class="col-md-5">
                    <select name="tipoBuscado" class="form-select">
                        <option value="">-- Seleccionar Tipo --</option>
                        <option value="Envio Comun">Común</option>
                        <option value="Envio Urgente">Urgente</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <select name="estadoBuscado" class="form-select">
                        <option value="">-- Seleccionar Estado --</option>
                        <option value="En_Proceso">En proceso</option>
                        <option value="Finalizado">Finalizado</option>
                    </select>
                </div>

                <div class="col-md-5"> 
                    <label for="fechaInicio" class="form-label">Fecha desde</label>
                    <input type="date" name="fechaInicio" class="form-control me-2" placeholder="Ingresar fecha" />
                </div>
                <div class="col-md-5">
                    <label for="fechaFin" class="form-label">Fecha hasta</label>
                    <input type="date" name="fechaFin" class="form-control me-2" placeholder="Ingresar fecha" />
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-primary w-100">Buscar</button>
                </div>
            </form>
        </div>
    </div>

    
        <div class="col-md-6 mb-2">
            <form class="d-flex" action="/Envio/Details" method="get">
                <input type="text" name="tracking" class="form-control me-2" placeholder="Buscar por Tracking" />
                <button type="submit" class="btn btn-outline-primary">Buscar</button>
            </form>
        </div>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered table-striped align-middle">
            <thead class="table-light">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Tracking)</th>
                    <th>@Html.DisplayNameFor(model => model.Peso)</th>
                    <th>@Html.DisplayNameFor(model => model.Tipo)</th>
                    <th>@Html.DisplayNameFor(model => model.Estado)</th>
                    <th>@("Fecha finalización")</th>
                    <th>@("Último Comentario")</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Tracking)</td>
                        <td>@Html.DisplayFor(modelItem => item.Peso)</td>
                        <td>@Html.DisplayFor(modelItem => item.Tipo)</td>      
                        <td>@(item.Estado == "En_Proceso" ? "En proceso" : item.Estado)</td>
						<td>@Html.DisplayFor(modelItem => item.FechaFinalizacion)</td>
                        <td>@Html.DisplayFor(modelItem => item.UltimoComentario)</td>
                        <td class="text-center">
                            @if (item.Estado == "En_Proceso")
                            {
                                <form asp-action="Finalizar" asp-controller="Envio" asp-route-id="@item.Id" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-sm btn-outline-success">Finalizar</button>
                                </form>

                                <a asp-action="Create" asp-controller="Seguimiento" asp-route-envioId="@item.Id" class="btn btn-sm btn-outline-primary">Agregar Seguimiento</a>

                            }
                            else
                            {
                                <span class="text-muted">Ya finalizado</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
        }else
            {
                <div class="alert alert-info">
                    No hay ningún envío registrado.
                </div>
            }
</div>